<h1>Stupid Coaching</h1>

<div class="card">
  <h2><%= @question %></h3>
  <p>-You</p>
</div>

<div class="card answer">
  <h2><%= @answer %></h2>
  <p>-Your coach</p>
</div>

<div>
  <%= link_to "Ask a new question", root_path %>
</div>