<h1>Welcome to Stupid Coaching</h1>

<form action="/answer" data-turbo="false">
  <label for="question">Ask yuor coach anything:</label>
  <input type="text" id="question" name="question" placeholder="Type Something">
  <input type="submit" value="Ask!">
</form>